button {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    background-color: rgb(52, 168, 214);
    border-color: rgb(16, 17, 16);
    border-style: solid;
    font-family: "Verdana";
    font-size: 18px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    
}

input {
    margin-top: 20px;
    margin-left: 0px;
    background-color: rgba(125, 143, 143, 0.54);
    border-color: rgb(0, 0, 0);
    border-style: outset;
    font-size: 12px;
    font-family: "Verdana";
    border-width: 2px;
    font-size: 15px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

::placeholder {
    color: rgb(0, 2, 0);
}

#a {
    margin-left: 300px;
    margin-top: 150px;
    background-image: linear-gradient(rgb(98, 0, 255), yellow);
    width: 380px;
    border: 15px solid rgb(41, 43, 41);
    padding: 150px;
}

#agg {
    margin-top: 4px;
    margin-bottom: 15px;
    margin-left: 150px;
    background-color: rgb(52, 168, 214);
    border-color: rgb(16, 17, 16);
    border-style: solid;
    font-family: "Verdana";
    font-size: 18px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}
 h4 {
    font-family: "Verdana";
 }

table, th, td {
    border: 1px solid black;
    font-family: "Verdana";
    margin-left: 150px;
  }


