button {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    background-color: rgb(52, 214, 66);
    border-color: rgb(16, 17, 16);
    border-style: solid;
    font-family: "Copperplate";
    padding: 5px 20px;
}

input {
    margin-top: 10px;
    margin-left: 0px;
    background-color: rgba(125, 143, 143, 0.54);
    border-color: rgb(0, 0, 0);
    border-style: outset;
    font-size: 12px;
    font-family: "Copperplate";
    border-width: 2px;
    padding: 5px 40px;
}

::placeholder {
    color: rgb(0, 2, 0);
}

#a {
    margin-left: 300px;
    margin-top: 150px;
    background-color: lightgrey;
    width: 380px;
    border: 15px solid rgb(41, 43, 41);
    padding: 150px;
}

#agg {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 350px;
    background-color: rgb(52, 214, 66);
    border-color: rgb(16, 17, 16);
    border-style: solid;
    font-family: "Copperplate";
    padding: 5px 20px;
}

