button {
    margin-top: 15px;
    margin-bottom: 15px;
    border-color: rgb(16, 17, 16);
    border-style: solid;
    font-family: "Verdana";
    font-size: 18px;
    background-color: white;
    color: black;
    border:outset rgb(112, 108, 108);
    border-radius: 35px;
    font-variant: small-caps;
    background: transparent;
    
       
    
}

input {
    margin-top: 20px;
    margin-left: 0px;
    background-color: rgba(125, 143, 143, 0.54);
    border-color: rgb(0, 0, 0);
    border-style: outset;
    font-size: 12px;
    font-family: "Verdana";
    border-width: 2px;
    font-size: 15px;
    background-color: white;
    color: black;
    border:outset rgb(112, 108, 108);
    border-radius: 35px;
    font-variant: small-caps;
}

::placeholder {
    color: rgb(0, 2, 0);
}

#a {
    margin-left: 300px;
    margin-top: 150px;
    background-image: linear-gradient(to right, rgba(165, 14, 165, 0.342), rgba(60, 255, 0, 0.233));
    width: 380px;
    border: 15px solid rgb(41, 43, 41);
    padding: 150px;
    border:outset rgb(112, 108, 108);
    font-variant: small-caps;
    background-blend-mode: transparent;
    
    }

#agg {
    margin-top: 4px;
    margin-bottom: 15px;
    margin-left: 150px;
    font-family: "Verdana";
    font-size: 18px;
}
 h4 {
    font-family: "Verdana";
    text-decoration: overline;
 }

table, th, td {

    border:outset rgb(112, 108, 108);
    font-family: "Verdana";
    margin-left: 55px;
    font-variant: small-caps;
}